@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 >Добре дошли в сайта за домашни </h3>
    <h1 >СУРОВО-СУШЕНИ МЕСНИ РЕЦЕПТИ</h1>
    <h6 class="display-6" > Тук ще намерите рецепти за изпитани домашно приготвени мезета, по стари български рецепти ,които спазват предписани БДС стандарти </h6
</<div>