<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mezeta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mezeta.styles.css" asp-append-version="true" />
</head>
<body style="background-image:url('../../../../imgs/Img.jpg');background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm opacity-75 bg-black box-shadow mb-3" >
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Mezeta</a>
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>

                       
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Home" asp-controller="Main" asp-action="AllRecipes" class="btn btn-outline-primary">Рецепти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Home" asp-controller="Main" asp-action="AllIngredients" class="btn btn-outline-primary">Продукти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Home" asp-controller="Main" asp-action="AllSpices" class="btn btn-outline-primary">Подправки</a>
                        </li>


                        @if (this.User.Identity?.IsAuthenticated == true && this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Admin" asp-controller="Main" asp-action="All">Админ. портал</a>
                            </li>
                        }
                    </ul>

                    @if (this.User.Identity?.IsAuthenticated == true)
                    {

                        <div class="dropdown">
                            <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Мои рецепти
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="Favorites">Любими</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Calculation" asp-action="Prepairings">Зреещи</a>
                                </li>
                            </ul>
                        </div>

                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted opacity-50 bg-black">
        <div class="container tect-light">
            &copy; @DateTime.Now.Year - Mezeta
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
