<form class="input-group-sm" asp-area="Admin" asp-controller="Add"
      asp-action="DeleteSpiceFromList" asp-route-id="" method="get">
    <button class="btn btn-danger mt-3" type="submit">Изтрий</button>
</form>

