@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://img.freepik.com/free-photo/close-up-view-delicious-salami-concept_23-2148738961.jpg?w=740&t=st=1710004214~exp=1710004814~hmac=dec07995d85a9124b663089f0ca581a144f3a0178238490426542018454c0603"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <form id="account" method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Logo</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Email" type="email" autocomplete="email" aria-required="true" class="form-control form-control-lg" />
                                        <label asp-for="Input.Email" class="form-label" for="form2Example17">Email address</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Password" type="password" id="form2Example27" class="form-control form-control-lg" />
                                        <label asp-for="Input.Password" class="form-label" for="form2Example27">Password</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe" class="form-label">
                                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button id="login-submit" class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
                                                                  style="color: #393f81;">Register here</a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
