@model RecipeViewModel

@{
    ViewBag.Title = "Редактирай рецепта";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="~/Areas/Admin/Views/Shared/_RecipePartial.cshtml" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}