@{
    ViewBag.Title = "Редактирай подправка";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="~/Areas/Admin/Views/Shared/_IngredientSpiceEditPartial.cshtml" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}