@model List<IngredientSpiceGetModel>;

@{
    ViewBag.Title = "Всички продукти";
}

<div class="form-group">
    <form  method="post" >
@* 
        <label asp-for="SpiceId">Изберете продукт</label>
        <select asp-for="SpiceId" class="form-control">
            @foreach (var sp in Model.Spices)
            {
                <option value="@sp.Id">@sp.Name</option>
            } *@
        </select>
    </form>
</div>
